// brand colors
$brand-pri: hsl(263, 60%, 35%); // #4d248f
$brand-sec: hsl(264, 100%, 88%); // #dac2ff

$brand-pri-dark: hsl(263, 61%, 15%); // #210f3d (darken 20%)

// other colors
$text: hsl(240, 5%, 26%);
$divider-light: hsla(0, 0%, 24%, 0.2);
$divider-dark: rgba(84, 84, 84, 0.4);
