@font-face {
  font-family: "Venturis";
  src: url("/fonts/venturisa-faux.woff2") format("woff2"), url("/fonts/venturisa-faux.woff") format("woff"),
    url("/fonts/venturisa-faux.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
