@font-face {
  font-family: "Venturis";
  src: url("/fonts/VenturisSans-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Venturis";
  src: url("/fonts/VenturisSans-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
