@font-face {
  font-family: 'Venturis';
  font-display: swap;
  font-style: normal;
  src: url('/fonts/VenturisSans-Bold.otf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Venturis';
  font-display: swap;
  font-style: normal;
  src: url('/fonts/VenturisSans-Regular.otf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Venturis Fallback';
  font-style: normal;
  font-weight: 600;
  src: local('Cambria'), local('Times New Roman'), local('Times'),
    local('Georgia');
  ascent-override: 92.93%;
  descent-override: 25.15%;
  line-gap-override: 2.51%;
  size-adjust: 91.47%;
}
