@use './global.scss';
@use './fonts-a';
@use './fonts-b';

@media (min-width: 992px) {
  ::-webkit-scrollbar {
    max-width: 8px;

    &:horizontal {
      max-height: 8px;
    }
  }
}

:root {
  --divider-color: #{$divider-light};
  --voe-root-bg: #fefefe;
  --voe-root-text: #{$text};

  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light;
  background-color: var(--voe-root-bg);
  color: var(--voe-root-text);
  font-family: 'Calcutta', 'Source Sans Pro', ui-sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  &.dark {
    --divider-color: #{$divider-dark};
    --voe-root-bg: hsl(0, 0%, 10%); // todo
    --voe-root-text: #fff; // todo

    color-scheme: dark;
  }
}

::selection {
  background-color: $brand-pri;
  color: #fefefe;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

:where(html, *) {
  transition-property: color, background-color, border-color,
    text-decoration-color;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-duration: 300ms;
}

.hr,
.divider {
  border: solid;
  border-width: thin 0 0;
  border-color: var(--divider-color);

  @apply flex-1 h-0 max-h-0 max-w-full block;

  &.inset {
    @apply max-w-4/5;
  }
}
