@use "./global.scss";
@use "./fonts-a";
@use "./fonts-b";

@media (min-width: 768px) {
  $scroll-thumb: #cecece;
  $scroll-track: #f8f8f8;

  * {
    scrollbar-color: $scroll-thumb $scroll-track;
  }

  ::-webkit-scrollbar {
    max-width: 8px;

    &:horizontal {
      max-height: 8px;
    }

    &-track,
    &-corner {
      background: $scroll-track;
      border-radius: 10px;
    }

    &-thumb {
      background: $scroll-thumb;
      border-radius: 10px;

      &:hover {
        background: #bfbfbf;
      }
    }
  }
}

:root {
  --divider-color: $divider;
}

::selection {
  background-color: $brand-pri;
  color: #fefefe;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-size: 16px;
  color: $text;
  background-color: #fefefe;
  font-family: "Calcutta", "Source Sans Pro", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

.hr,
.divider {
  border: solid;
  border-width: thin 0 0;
  border-color: var(--divider-color);

  @apply flex-1 h-0 max-h-0 max-w-full block;

  &.inset {
    @apply max-w-4/5;
  }
}
