@use './global.scss';
@use './fonts-a';
@use './fonts-b';

@media (min-width: 992px) {
  ::-webkit-scrollbar {
    max-width: 8px;

    &:horizontal {
      max-height: 8px;
    }
  }
}

:root {
  --divider-color: #{$divider-light};
  --voe-root-bg: #efefef;
  --voe-root-text: #{$text};

  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light;
  background-color: var(--voe-root-bg);
  color: var(--voe-root-text);
  font-family: 'Calcutta', 'Source Sans Pro', ui-sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  &.dark {
    --divider-color: #{$divider-dark};
    --voe-root-bg: hsl(0, 0%, 10%); // todo
    --voe-root-text: #{$text-dark};

    color-scheme: dark;
  }
}

::selection {
  background-color: $brand-pri;
  color: #fefefe;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.hr,
.divider {
  border: solid;
  border-width: thin 0 0;
  border-color: var(--divider-color);

  --at-apply: flex-1 h-0 max-h-0 max-w-full block;

  &.inset {
    --at-apply: max-w-4/5;
  }
}

.ze-section {
  @apply mx-auto p-4 md:(p-8) lg:(max-w-screen-lg) xl:(max-w-screen-xl);
}
